/* MainContent.css */
.main-content {
  background-color: #353535;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/*{rgb(104, 15, 34)} vinho */

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

@media (max-height: 600px) {
  .section {
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  gap: 6rem;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 2rem;
  }
}

.profile-image img {
  border-radius: 500px;
  border: #fff 2px solid;
  height: auto;
  width: 300px;
}

@media (max-width: 400px) {
  .profile-image img {
    width: 200px;
  }
}

@media (max-width: 300px) {
  .profile-image img {
    width: 100px;
  }
}

.profile-info {
  color: #fff;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.profile-info h1{
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.profile-info p{
  font-size: x-large;
  color: #fff;
  margin-top: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  line-height: 1.5;
}

@media (max-width: 400px) {
  .profile-info h1 {
    font-size: x-large;
  }
  .profile-info p {
    font-size: large;
  }
}

.profile-info a {
  color:  rgb(116, 41, 41);
  background-color: #e5e5e5;
  padding: 20px;
  font-size: x-large;
  margin-top: 5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  animation: pulse 3s infinite;
}

.profile-info a:hover {
  color: #fff;
  background-color: rgb(116, 41, 41);
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Tamanho inicial (normal) */
  }
  50% {
    transform: scale(1.05); /* Tamanho no meio da animação (um pouco maior) */
  }
  100% {
    transform: scale(1); /* Volta ao tamanho normal para criar o loop */
  }
}


